.app {
	position: relative;
	width: 338px;
	height: 386px;
	background-color: var(--pure-black);
	margin: 40px auto 0;
}

.wrapper {
	padding: 4px 0;
}

.wrapper:after {
	visibility: hidden;
	display: block;
	content: '';
	clear: both;
	height: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}
